@tailwind base;
@tailwind components; 
@tailwind utilities;

.layout{
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}


@keyframes left-show{
    0%{
        opacity: 0;
        transform: translateX(-100% );
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}

@keyframes right-out{
    from{
        opacity: 1;
        transform: translateX(0);
    }
    to{
        opacity: 0;
        transform: translateX(-100%);
    }
}

.left-show{
    animation: left-show 1.5s ease-out forwards;
}

.right-out{
    animation: right-out 3s ease-out;
}
